@import 'mediaQueries';
@import 'loadingSpinner';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

$colorTitle: #989898;
$colorButtons: #add8e6;
$silverColor: #f5f5f5;

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #202020;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 251, 255, 1) 85%
  );
}

header {
  h1 {
    color: $colorTitle;
    font-size: 1.7rem;
    margin: 0.5em;
    font-weight: 600;
  }
}

main {
  display: flex;
  justify-content: center;
  margin-top: -6em;

  .spinner {
    @include keyframes(spinner) {
      0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
      }
      100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
      }
    }

    @include animate(spinner, 1.5s, linear, infinite);
    transform: translate3d(-50%, -50%, 0);
    display: none;
    border: 3px solid $silverColor;
    border-radius: 50%;
    border-bottom: 3px solid #0000ff;
    height: 5em;
    width: 5em;
    position: absolute;
    top: 30%;
    left: 50%;
  }

  .modal-popup {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 251, 255, 1) 85%
    );
    position: fixed;
    top: 10em;
    height: 12em;
    z-index: 2;
    opacity: 0;
    border: none;
    padding: 2em;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: opacity 0.2s ease-in;

    .modal-container {
      display: flex;
      flex-direction: column;
      height: 8em;

      .modal-form {
        text-align: center;

        .fa-search {
          position: absolute;
          left: 3.2em;
          top: 2.7em;
          color: gray;
        }

        input {
          padding-left: 3em;
          height: 2.5em;
          width: 20em;
          border-radius: 5px;
          font-size: 1rem;
          color: #000000;
          border: none;
          -webkit-appearance: none;
          appearance: none;
        }
      }

      .modal-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2.5em;

        button {
          width: 100%;
          height: 2.2em;
          background-color: $colorButtons;
          padding: 0.3em;
          border-radius: 5px;
          border: none;
          margin: 0.3em;
          font-weight: 600;
          font-size: 1rem;
          transition: all 0.2s ease-in;

          &:hover {
            cursor: pointer;
            background-color: $silverColor;
          }
        }
      }
    }

    &.show {
      opacity: 1;
    }
  }

  #content-div {
    margin-bottom: 2em;
    border-radius: 5px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    h2 {
      font-size: 2.5rem;
      text-align: center;
    }

    p {
      margin-top: -0.3em;
      font-size: 90%;
    }

    button {
      margin-top: 2em;
      border-radius: 50px;
      border: none;
      padding: 1em;
      background-color: $colorButtons;
      color: #000000;
      font-size: 1rem;
      font-weight: 600;
      width: 16em;
      transition: all 0.2s ease-in;

      &:hover {
        cursor: pointer;
        background-color: $silverColor;
      }

      &:active {
        transform: translateY(-2px);
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2em;
  text-align: center;
  font-weight: 600;

  ion-icon {
    color: #000000;
    text-decoration: none;
    font-size: larger;
  }
}

.noHover {
  pointer-events: none;
}

.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}

/* MEDIA QUERIES */
html {
  @include responsive($phone_port) {
    font-size: 85%;

    header {
      h1 {
        display: none;
      }
    }

    main {
      margin-top: -2.5em;
    }

    footer {
      display: none;
    }
  }

  @include responsive(($phone_land)) {
    font-size: 85%;
  }

  @include responsive(($tablet)) {
    font-size: 100%;

    header {
      h1 {
        display: block;
      }
    }

    main {
      margin-top: -5.5em;
    }
  }

  @include responsive(($desktop)) {
    main {
      margin-top: -6em;
    }

    footer {
      display: block;
    }
  }
}
